.userblock {
    margin-top: 140px;
    text-align: center;

    &-list {
        margin: 50px 0;
    }

    &-list {
        display: flex;
        gap: 20px;
        flex-direction: column;

        &-card {
            width: 330px;
            height: 254px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;

            &-details {
                margin-top: 20px;
            }

            &-image {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                & img {
                    border-radius: 50%;
                }
            }
        }
    }
}